<!DOCTYPE html>
<head>
    <title>Check</title>
    <link rel="stylesheet" href="check.css">
</head>
<body>
    <h2 id="this-page-is-for-supervising">This page is for Supervising</h2>
    <hr>
        <p>In here, you can <strong>check status</strong> of API &amp; DB.</p>
        <p>If there has any problem, Error message will be print out.</p>
        <p>Click the buttons, and check the message.</p>
    <p><br></br></p>
    <h3 id="db">DB</h3>
    <p>
        <button id="db_button">Check</button>
    </p>
    <p>
        <code id="db_code" class="lang-bash "></code>
    </p>
    <h3 id="api">API</h3>
    <ul>
        <li>11st</li>
    </ul>
    <p>
        <button id="11st_button">Check</button>
    </p>
    <p>
        <code id="11st_code" class="lang-bash "></code>
    </p>
    <ul>
        <li>joongna</li>
    </ul>
    <p>
        <button id="joongna_button">Check</button>
    </p>
    <p>
        <code id="joongna_code" class="lang-bash "></code>
    </p>
    <script src="./check.js"></script>
</body>