<!DOCTYPE html>
<head>
    <title>Index</title>
    <style>
        body {
            padding: 15px;
        }
    </style>
</head>
<body>
    <h2 id="hello-this-is-page-for-server-admin">
        Hello, This is page for Server Admin
    </h2>
    <hr />
    <p>welcome! This Page is for server administrator.</p>
    <p>But, It&#39;s Okay for test out Server.</p>
    <p>You have <strong>Two Choices</strong> from now!</p>
    <ul>
        <li><a href="./check">Check</a>: For check API, DB status</li>
        <li><a href="./Product">Product</a>: For check API working, and DB working</li>
    </ul>
    <p>Our Project link is <a href="https://github.com/Konkuk-JJabaries/Product">here</a>.</p>
    <p>
        If you get any errors, or bugs,
        <a href="https://github.com/Konkuk-JJabaries/Product/issues">Click</a> on this page and give
        us problem.
    </p>
    <p>Thanks for coming.</p>
</body>
